@mixin aboutImg() {
  width: 55%;
  cursor: pointer;
  position: absolute;
  transition: all 0.3s;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(variables.$black, 40%);
  outline-offset: 1rem;

  &:hover {
    outline: 1rem solid variables.$color-primary;
    border-radius: 2rem;
    box-shadow: 0 2.5rem 4rem rgba(variables.$black, 50%);
    transform: scale(1.05);
    z-index: 1;
  }
}

.about {
  height: fit-content;

  .grid {
    row-gap: 6.2rem;
    column-gap: 3.2rem;
  }

  .heading-secondary {
    grid-column: 1 / -1;
  }

  .heading-tertiary {
    margin-bottom: 1.6rem;
  }

  .body2 {
    margin-bottom: 3.2rem;
    line-height: 2;
  }

  &__img-box {
    position: relative;
    grid-column: 2;
    grid-row: 2;

    & div:hover .about-img:not(:hover) {
      transform: scale(0.9);
    }

    &--img-1 {
      @include aboutImg();
      left: 0;
      top: 0;
    }

    &--img-2 {
      @include aboutImg();

      right: 0;
      top: 2rem;
    }

    &--img-3 {
      @include aboutImg();

      left: 20%;
      top: 10rem;
    }
  }
}
@include mixins.respond(md) {
  .about {
    .grid {
      row-gap: 3.2rem;
      column-gap: 3.2rem;
    }
    &__text-box {
      display: flex;
      & > div {
        flex: 1;
        padding: 0 4.8rem;
        .body2 {
          margin-bottom: 0;
        }
      }
    }
    &__img-box {
      grid-column: auto;
      grid-row: auto;
      height: 25rem;

      &--img-1 {
        @include aboutImg();
        width: 35%;
        left: 0;
        top: 4rem;
      }

      &--img-2 {
        @include aboutImg();
        width: 35%;

        right: 0;
        top: 4rem;
      }

      &--img-3 {
        @include aboutImg();
        width: 35%;

        left: 32%;
        top: 2rem;
      }
    }
  }
  .btn {
    justify-self: center;
  }
}

@include mixins.respond(sm) {
  .about {
    .grid {
      row-gap: 3.2rem;
      column-gap: 3.2rem;
    }
    &__text-box {
      display: flex;
      flex-direction: column;
      row-gap: 2.4rem;
      text-align: center;
    }
    &__img-box {
      height: 27rem;

      &--img-1 {
        @include aboutImg();
        width: 48%;
      }

      &--img-2 {
        @include aboutImg();
        width: 48%;
      }

      &--img-3 {
        @include aboutImg();
        width: 48%;
      }
    }
  }
}

@include mixins.respond(xs) {
  .about {
    &__img-box {
      height: 21rem;
    }
  }
}
