/**
* Colors
*/
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-error: #ff7730;

$color-grey-darker: #333;
$color-grey-lighter: #eee;
$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-text-primary: #777;

$black: #000;
$white: #fff;
