@use '../abstracts/variables';

body {
  color: variables.$color-text-primary;
  font-weight: 400;
  line-height: 1.7;
}

.heading-secondary {
  text-align: center;
  color: transparent;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s;
  background-image: linear-gradient(
    to right,
    variables.$color-primary-light,
    variables.$color-primary-dark
  );
  letter-spacing: 2px;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.body1 {
  font-size: 1.5rem;
}

.body2 {
  font-size: 1.6rem;
}
