.wrapper {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: relative;

  .checkbox-input {
    opacity: 0;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 2;

    &:checked + .checkbox-input--custom {
      background-color: variables.$color-primary;
    }
  }

  .checkbox-input--custom {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: transparent;
    outline-offset: 0.4rem;
    outline: 5px solid variables.$color-primary;
    transition: all 0.2s;
  }

  .label--input-checkbox {
    font-size: 1.6rem;
  }
}
