.booking-section {
  @include mixins.sectionBackgroundImage(null);

  .booking {
    padding: 0;
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 50%,
        transparent 50%
      ),
      url('~/assets/images/nat-10.jpg');
    background-size: cover;

    form {
      width: 50%;
      display: flex;
      row-gap: 4rem;
      padding: 6rem;
      flex-direction: column;

      .heading-secondary {
        text-align: left;
      }

      .field-container {
        position: relative;
      }

      .field-container--input-checkbox {
        display: flex;
        align-items: center;
        column-gap: 10%;
      }
    }
  }
}
